.call {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  overflow: auto;
}

.client-tile {
  height: calc(100% - 62.5px);
  overflow: hidden;
  width: 70%;
}

.trainer-tile {
  height: calc(100% - 62.5px);
  flex-grow: 1;
  width: 30%;
}