.bookings {
  background-color: $color_secondary;
  height: 100%;
  width: 100%;

  &__container {
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: 80%;
  }
}

.bookModal {
  height: 100%;
  &__title {
    font-size: $text_normal;
  }

  &__desc {
    line-height: 1.5;
    font-size: $text_phone;
    margin: 5px;
  }

  &__btn {
    margin: 5px;
  }
}

.paymentModal {
  &__body {
    width: fit-content;
  }
}
