.bookings {
  background-color: $color_primary;
  height: 100%;
  width: 100%;

  &__container {
    background-color: #343a40;
    border: 1px solid $color_black;
    border-radius: 3px;
    box-shadow: 1px 2px 3px 0 black;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: 95%;
    overflow-y: scroll;
  }

  &__btn {
    box-shadow: 1px 2px 3px 0 $color_black;
  }
}
