.registration_router {
  background: $color_primary;
  height: 100vh;
  width: 100vw;

  &__register {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  &__link_container {
    box-shadow: 1px 2px 3px 0 $color_black;
    border-radius: 3px;
    margin: 10px;
    transition: all 1s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__link {
    text-decoration: none;

    &:hover {
      color: $color_primary_dark;
      text-decoration: none;
    }
  }

  &__link_back {
    color: $color_secondary !important;
    height: 200px;
    text-decoration: none !important;
    transition: all 1s;

    &__icon {
      background-color: $color_primary_dark;
      border-radius: 100%;
      font-size: 64px;
      margin: 10px;

      :hover {
        color: $color_secondary_dark;
      }
    }
  }

  &__link {
    color: $color_primary;
    text-decoration: none;
  }
}

.registration {
  &__form {
    width: 90%;

    &__text {
      border-radius: 3px;
      border: 1px solid $color_black;
      box-shadow: 3px 3px 3px $color_black;
      width: 100%;
    }
  }
}
