.lessonForm {
  background-color: $color_secondary_dark;
  height: 100%;
  min-width: 100%;
  width: 100%;

  &__form_container {
    background-color: white;
    border-radius: 3px;
    box-shadow: 3px 3px 3px $color_black;
    height: 90%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    @include respond(phone) {
      height: 300px;
      width: 80vw;
    }
  }

  &__heading {
    text-align: center;
    margin-bottom: 5px;
  }

  &__radio {
    display: flex;
    flex-direction: row;

    &__btn {
      margin: 5px;
      align-items: center;
    }
  }

  &__label {
    font-weight: 800;
  }

  &__text {
    border-radius: 3px;
    border: 1px solid $color_black;
    box-shadow: 3px 3px 3px $color_black;
  }

  &__form {
    padding: 50px;
  }
}
