.lessonForm {
  width: 90%;

  &__radio {
    display: flex;
    flex-direction: row;

    &__btn {
      margin-bottom: 5px;
      margin-left: 10px;
      align-items: center;
    }
  }

  &__text {
    border-radius: 3px;
    border: 1px solid $color_black;
    box-shadow: 3px 3px 3px $color_black;
    font-size: $text_phone;
    width: 100%;
  }

  &__error {
    color: $color_red;
  }
}
