.modal {
  width: fit-content;

  &__submit {
    box-shadow: 1px 2px 3px 0 $color_black;
    margin-top: 10px;
    margin-left: 5px;
  }

  &__title {
    font-size: $text_normal;
  }

  &__desc {
    line-height: 1.5;
    font-size: $text_phone;
    margin: 5px;
  }

  &__icon {
    cursor: pointer;
  }
}
