.loader {
  align-items: center;
  background-color: $color_off_white;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;

  &__body {
    height: 200px;
    position: relative;
    width: 200px;
  }

  &__ring {
    animation: rotate 2s linear infinite;
    border-left: 4px solid $color_red;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  &__ring_two {
    animation: rotate 1.75s linear infinite;
    border-left: 4px solid $color_blue;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    margin-top: -200px;
  }

  &__ring_three {
    animation: rotate 1.5s linear infinite;
    border-left: 4px solid $color_yellow;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    margin-top: -200px;
  }

  &__text {
    animation: pulse 2s linear infinite;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    left: 0;
    line-height: 200px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
  }
}
