body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.quote-picture-container {
  position: relative;
  display: inline-block;
}
.quote-picture-text {
  position: absolute;    
  height: 100%;
  text-align: center;    
  width: 100%;
}
/* p {
  display: inline-block;
  font-size: 20px;
} */
.quote-picture-block {
  display: block;
  max-width: 100%;
  height: auto;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  /* animation: right-animate 4s ease infinite alternate; */
}

/* ^^^This is blob expan/dcollapse func */

/* @keyframes right-animate {
  0% { transform: scaleX(0) }
  65% { transform: scaleX(1) }
} */

.pay-form {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 0;
  visibility: hidden; 
}
.pay-form.show {
  opacity: 1;
  visibility: visible; 
}

